.container {
  margin: 0 auto;
  padding: 0 16px;
}

@media (min-width: 768px) {
  .container {
    max-width: 1280px;
    padding: 0 24px;
  }
}

.form {
  margin: 0 auto;
  max-width: 500px;
}

.input {
  border: none;
  border-bottom: 1px solid var(--NAD_MILK);
  color: var(--NAD_BLACK);
  font-family: Poppins;
  min-width: 0;
  padding: 20px 10px;
  width: 100%;
}
.input:focus {
  border-bottom-color: var(--NAD_BLACK);
  outline: none;
}
.input::placeholder {
  color: var(--NAD_GREY);
}

.form__input {
  margin-top: 5px;
}

.form__btn {
  margin: 34px 0 77px;
}

.btn {
  background: none;
  border: none;
  cursor: pointer;
}

.btn--basic {
  align-items: center;
  border-radius: 10px;
  background-color: var(--NAD_BLACK);
  border: 1px solid var(--NAD_BLACK);
  color: var(--NAD_WHITE);
  fill: var(--NAD_WHITE);
  display: flex;
  font-size: 16px;
  font-weight: 600;
  height: 60px;
  justify-content: center;
  width: 100%;
}

.btn:disabled {
  background-color: var(--NAD_GREY);
}

@media (min-width: 768px) {
  .btn--basic:hover {
    background-color: var(--NAD_WHITE);
    color: var(--NAD_BLACK);
    fill: var(--NAD_BLACK);
    cursor: pointer;
  }

  .btn:disabled:hover {
    color: var(--NAD_WHITE);
  }
}

.card {
  padding: 15px;
  border: 1px solid rgb(0, 0, 0, 0.25);
  border-radius: 15px;
}

.stencil {
  display: block;
  width: 100%;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.1) !important;
  color: transparent !important;
}

.flex-cc {
  display: flex;
  align-items: center;
  justify-content: center;
}

.noselect {
  user-select: none;
}

.game-status {
  padding: 25px 0;
}

.play-button {
  padding: 25px 0;
}

.players-list {
  height: 150px;
  margin-bottom: 30px;
  padding: 5px;
  overflow: scroll;
  border: 1px solid var(--NAD_SERVICE);
}

@media (min-width: 768px) {
  .nav-link {
    font-size: 26px;
    text-transform: lowercase;
  }

  .nav-link.active {
    font-size: 34px;
  }
}

.subnav > a {
  background-color: #fff;
  border: none;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.05);
  cursor: pointer;
  font-family: Poppins;
  font-size: 16px;
  height: 63px;
  line-height: 63px;
  padding: 0 20px;
  text-align: left;
}

.position-bottom-center {
  width: 80% !important;
  min-width: 320px;
}

.notification-content {
  width: 100% !important;
}
