.container {
  margin: 0 auto;
  padding: 0 16px;
}

@media (min-width: 768px) {
  .container {
    max-width: 1280px;
    padding: 0 24px;
  }
}

.form {
  margin: 0 auto;
  max-width: 500px;
}

.input {
  border: none;
  border-bottom: 1px solid var(--NAD_MILK);
  color: var(--NAD_BLACK);
  font-family: Poppins;
  min-width: 0;
  padding: 20px 10px;
  width: 100%;
}
.input:focus {
  border-bottom-color: var(--NAD_BLACK);
  outline: none;
}
.input::placeholder {
  color: var(--NAD_GREY);
}

.form__input {
  margin-top: 5px;
}

.form__btn {
  margin: 34px 0 77px;
}

.btn {
  align-items: center;
  border-radius: 10px;
  background-color: var(--NAD_BLACK);
  border: 1px solid var(--NAD_BLACK);
  color: var(--NAD_WHITE);
  display: flex;
  font-size: 16px;
  font-weight: 600;
  height: 60px;
  justify-content: center;
  width: 100%;
}
.btn:hover {
  background-color: var(--NAD_WHITE);
  color: var(--NAD_BLACK);
  cursor: pointer;
}

.card {
  padding: 15px;
  border: 1px solid rgb(0, 0, 0, 0.25);
  border-radius: 15px;
}

.stencil {
  display: block;
  width: 100%;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.1) !important;
  color: transparent !important;
}
