@font-face {
  font-family: "Montserrat Alternates";
  src: url("fonts/MontserratAlternates-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat Alternates";
  src: url("fonts/MontserratAlternates-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Montserrat Alternates";
  src: url("fonts/MontserratAlternates-Italic.ttf") format("truetype");
  font-style: italic;
}
