* {
  box-sizing: border-box;
}

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  --NAD_BLACK: #323643;
  --NAD_SERVICE: #979797;
  --NAD_GREY: #7a7a7a;
  --NAD_WHITE: #ffffff;
  --NAD_MILK: #e6e6e6;
  --NAD_BLUE: #0960bd;
  --NAD_BG: #d8d8d8;

  --NAD_SIDEBAR_WIDTH: 300px;

  color: var(--NAD_GREY);
  margin: 0;
  padding: 8px;
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

a {
  color: rgb(0, 100, 200);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: rgb(0, 80, 160);
}

label {
  display: block;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  padding: 0.4em;
  margin: 0 0 0.5em 0;
  border: 1px solid #ccc;
  border-radius: 2px;
}

input:disabled {
  color: #ccc;
}

input[type="range"] {
  height: 0;
}

button {
  color: #333;
  background-color: #f4f4f4;
  outline: none;
}

button:active {
  background-color: #ddd;
}

button:focus {
  border-color: #666;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3 {
  color: var(--NAD_BLACK);
  font-family: inherit;
}

h1 {
  font-family: inherit;
  font-size: 24px;
  font-weight: 900;
  text-align: center;
}

h2 {
  font-size: 26px;
  font-family: inherit;
  text-align: center;
}

@media (min-width: 768px) {
  h1 {
    font-size: 32px;
  }
}
